html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}
body {
	margin-top: 1px;
}

:focus {
	outline-style: initial;
	outline-color: transparent;
	outline-width: 0;
}

/* https://www.itsupportguides.com/knowledge-base/tech-tips-tricks/how-to-offset-anchor-tag-link-using-css/ */
:target::before {
	content:"";
    display:block;
    /* background: red; */
	height:100px; /* fixed header height*/
	margin:-100px 0 0 0; /* negative fixed header height */
}

/* 
	HELPERS
*/
.mb-10, .my-10 {
	margin-bottom: 6rem!important;
}
.mt-10, .my-10 {
	margin-top: 6rem!important;
}
.pb-10, .py-10 {
	padding-bottom: 6rem!important;
}
.pt-10, .py-10 {
	padding-top: 6rem!important;
}
/* 
	BUTTONS
*/
.btn-primary {
    color: #000000;
    background-color: #a0d39f;
    border-color: #a0d39f;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary:hover {
    background-color: #9acd99;
    border-color: #9acd99;

}
.btn-outline-primary {
	color: #a0d39f;
	background-color: transparent;
	background-image: none;
	border-color: #a0d39f;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle, .btn-outline-primary:hover {
    color: #000000;
    background-color: #9acd99;
    border-color: #9acd99;
}
.btn-outline-light {
	color: #ffffff;
	background-color: transparent;
	background-image: none;
	border-color: #ffffff;
}
.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show>.btn-outline-light.dropdown-toggle, .btn-outline-light:hover {
    color: #000000 !important;
    background-color: #ffffff;
    border-color: #ffffff;
}
/* 
	FORMS
*/
.form-control {
	color: #495057;
	background-color: #fff;
	border: 1px solid #fff;
}
.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
	border-color: #fff;
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
	border-color: #dc3545;
}
.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
	color: #fff;
}
.form-check-input.is-invalid~.form-check-label, .was-validated .form-check-input:invalid~.form-check-label {
	color: #dc3545;
}
/* 
	TOOLTIPS
*/
.tooltip-inner {
    text-align: left;
    max-width: fit-content;
    line-height: 2em;
    color: #000000;
    /* background-color: rgba(0,0,0,0.9); */
    background-color: rgba(255,255,255,0.9);
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
	/* border-bottom-color: rgba(0,0,0,0.8); */
	border-bottom-color: rgba(255,255,255,0.9);
}
